.content {
	padding: 20px;  
	display: grid;  
	/* grid-template-rows: 1fr 1fr; */   
	grid-template-columns: 1fr 10fr; 
	gap: 20px; 
}

.dialogItems {
	padding: 0 10px; 
}

.dialog {
	color: #fff; 
}

.dialog .active {
	color: gold;  
}

