.nav {

	display: flex;
	flex-direction: column;	
	justify-content: center;
	grid-area: n;   
	background-color: #ff9760;  
	padding: 20px;  
} 

.item a {
	color: #fff;  	
	text-decoration: none; 
}

.item a.active {
	color: gold; 
}



