.item {
	color: greenyellow; 
} 

.item img {
	height: 120px; 	
	border-radius: 50%;
} 

.postsBlock {
	color: #fff;  	
	padding: 10px; 
} 

.posts {
	padding-top: 10px;  
}
.postsBlock button {
	margin-top: 10px;  
}
