.app-wrapper {
	color: #fff;	
	margin: 0 auto;	
	display: grid;  	
	max-width: 1200px;
	grid-template-areas:
	"h h"
	"n c";  

	grid-template-rows: 60px 1fr;  
	grid-template-columns: 2fr 10fr;  
	/* grid-gap: 10px; */   
} 
/*
.header {
	grid-area: h;   
	background-color: green;  
}
.header img {
	width: 50px;  
}
.nav {
	grid-area: n;   
	background-color: burlywood;  
}  
.content {
	grid-area: c;   
	background-color: cornflowerblue;  
}  

.content img {
	height: 400px;  
}
.content__ava_description {
	display: flex;
}

.content__ava_description img {
	border-radius: 40%;
}
*/ 

