.appWrapper {
	color: #fff;	
	margin: 0 auto;	
	display: grid;  	
	max-width: 1200px;
	grid-template-areas:
	"h h"
	"n c";  

	grid-template-rows: 60px 1fr;  
	grid-template-columns: 2fr 10fr;  
	/* grid-gap: 10px; */   
} 
/*
.header {
	grid-area: h;   
	background-color: green;  
}
.header img {
	width: 50px;  
}
.nav {
	grid-area: n;   
	background-color: burlywood;  
}  
.content {
	grid-area: c;   
	background-color: cornflowerblue;  
}  

.content img {
	height: 400px;  
}
.content__ava_description {
	display: flex;
}

.content__ava_description img {
	border-radius: 40%;
}

/* 
При обращении к элементу по классу через точку и тире в CSS модулях выдается ошибка, потому что имена классов в CSS модулях могут содержать только буквы, цифры и тире (дефис), но не могут содержать точку.

Чтобы использовать классы из CSS модуля в React компоненте, вы можете сделать следующее:

Импортируйте файл стилей:
import s from './syle.module.css';
Затем используйте класс, объявленный в файле стилей, в своем компоненте:
<header className={s.appWrapper}>
Обратите внимание, что вместо синтаксиса с точкой и тире, вы должны использовать camelCase для имен классов из CSS модуля в React компоненте.

*/






